* {
		font-family:Georgia;
}

.header {
	padding:2%;
	background-color: steelblue;
	font-size: 42px;
	text-align: center;
}
/*Styling for the lines connecting the labels to the slices*/
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
    shape-rendering: geometricPrecision;
}

/* styling for the donut slices*/
.arc path {
    shape-rendering: geometricPrecision;
  stroke: #fff;
}
}

/* Make the percentage on the text labels bold*/
.labelName tspan {
    font-style: normal;
    font-weight: 700;
}

/* In biology we generally italicise species names. */
.labelName {
    font-size: 0.8em;
    font-style: italic;
}


.tooltip1 {
  position: absolute !important;
  height: auto !important;
  width: auto !important;
  padding: 15px !important;
  background: #36384C !important;
  color: white !important;
  /* font-family: Monospace, Serif; */
}

.tooltip1:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #36384C transparent transparent;
}

.info {
	padding:6%;
	font-family:Georgia;
	font-size:19;
	text-align:justify;
}

.plot-bg {
  fill: white;
}

.chord-teams{
	width:70%;
	float:left;
}

.chord-teams-text{
	margin-top:50px;
	width:25%;
	float:left;
	border-style: solid;
	border-color: black;
}
.bat-side1{
		width: 64%;
		float: left;
}
.bat-side2{
		margin-top:25px;
		width: 22%;
		float: left;
}

.bat-side3{
	margin-top:65px;
	width:14%;
	float:left;
}

.bowl-side1{
		width: 64%;
		float: left;
}

.bowl-side2{
		margin-top:25px;
		width: 22%;
		float: left;
}

.bowl-side3{
	margin-top:95px;
	width:14%;
	float:left;
}

/*for scores*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.cells path {
  fill: none;
  pointer-events: all;
}

.cells title {
	position: absolute !important;
	height: auto !important;
	width: auto !important;
	padding: 15px !important;
	background: #36384C !important;
	color: white !important;
}
#viz1{
  height: 750px;
}
#viz2{
  height: 1400px;
}
#viz3{
  height: 620px;
}
